@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/tenor-sans');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'avenir', sans-serif,Tenor Sans,Montserrat;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;


  
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #275c54;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e4a42;
}
